@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


@font-face {
    font-family: "Zurich BlkEx BT Black";
    src: url("../fonts/Zurich\ BlkEx\ BT\ Black.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../fonts/Myriad\ Pro\ Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadPro-Semibold";
    src: url("../fonts/MyriadPro-Semibold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/FontAwesome.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Dosis-SemiBold";
    src: url("../fonts/Dosis-SemiBold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Merriweather-LightItalic";
    src: url("../fonts/Merriweather-LightItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NEOTERIC";
    src: url("../fonts/NEOTERIC.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

/*HEADER*/


.search {
    align-items: center;
}

.logo-line { 
    height: 250px;
    align-items: center;
}


.input-form { 
    border: none;
}

.input-icon a {
    font-family: fontawesome;
    font-size: 15px;
    color:gray;
    text-decoration: none;
}

.input-icon a:hover {
    color: pink;
    text-decoration: none;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-items: initial;
}

.logo-header {
    height: 170px;
    background: url(../images/Mountains.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-logo {
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}


.subscribe {    
    background-color: transparent;
    border: solid 1px #e9e9e9;
    text-align: center;
    flex-direction: row;
    width: 151px;
    height: 40px;    
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Dosis-SemiBold';
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.subscribe a {
    color: #000;
}

.subscribe a:hover {
    color: pink;
    text-decoration: none;
}

.lines-gray {
    height: 1px;
    background-color: gray;
}

.line-white {
    height: 3px;
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    font-size: 16px;
    font-family: 'MyriadPro-Semibold';
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.nav-link:hover {
    color: pink;
    text-decoration: none;
}

.connected {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.connected a {
    color: #575c5c;
    display: flex;    
}

.social {
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.social  i {
    display: flex;
    font-family: 'FontAwesome';
    font-size: 14px;
    text-decoration: none;   
    align-content: space-between; 
}

i {
    text-align: center;
    position: relative;
}

.facebook {
    text-decoration: none;
    font-size: 14px;    
}

.facebook:hover {
    background: skyblue;
    text-decoration: none;
}

.twitter {
    text-decoration: none;
}

.twitter:hover {
    background: aqua;
    text-decoration: none;
}

.google-plus {
    text-decoration: none;
}

.google-plus:hover {
    background: orange;
    text-decoration: none;
}

.instagram {
    text-decoration: none;
}

.instargam:hover {
    background: pink;
    text-decoration: none;
}

.youtube {
    text-decoration: none;
}

.youtube:hover {
    background: red;
    text-decoration: none;
}
/*HEADER SLIDER*/

.header-slider {
    height: 890px;
    background: url("../images/upperlayer-slider.png") , 
    url("../images/slider.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 0px;
    background-position-y: -40px;
}

.black-slider {
    
}

.traveling {
    width: 270px;
    height: 50px;
    position: relative;
    top: 155px;
    left: 40px;
}

.slider {
    position: relative;
}
  
.featured-blog {
    width: 140px;
    height: 37px;
    position: absolute;
    top: 513px;
    left: 38px;
    font-size: 18px;
    font-family: 'MyriadPro-Semibold';
    color: rgb(255, 255, 255);
    line-height: 1.067;
    text-align: left;
    z-index: 322;
}

.angles {
    position: absolute;
    top: 570px;
    left: 38px;
    width: 45px;
    height: 90px;
}

.upper-angle {
    border: solid #ffffff 1px;
    width: 43px;
    height: 43px;
    text-align: center;
}

.upper-angle:hover {
    background-color: #e21712;
}

.fa-angle-up {
    font-family: 'FontAwesome';
    font-size: 28px;
    color: #fff; 
    text-align: center;
    top: 5px;
    width: 43px;
    height: 43px;
}

.down-angle {
    border: solid #ffffff 1px;
    width: 43px;
    height: 43px;
    text-align: center;
}

.fa-angle-down {
    font-family: 'FontAwesome';
    font-size: 28px;
    color: #fff; 
    text-align: center;
    top: 10px;
}

.down-angle:hover {
    background-color: #e21712;
}

.slider-header {
    width: 480px;
    height: 48px;
    position: absolute;
    top: 560px;
    left: 70px;
}  

.slider-header p{
    font-family: 'Zurich BlkEx BT Black';
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    margin: auto;
    color: #fff;
}

.slider-text {
    color: #fff;
    width: 517px;
    height: 52px;
    position: absolute;
    top: 610px;
    left: 110px;
}

.slider-text p {
    font-family: 'Myriad Pro Regular';
    font-size: 15px;
    margin: auto;
    text-align: left;
}

.explore-button {
    width: 150px;
    height: 46px;
    position: absolute;
    top: 690px;
    left: 110px;
}

.explore-button a {
    width: 150px;
    height: 46px;
}

.explore-button a:hover {
    text-decoration: none;
}

.slider-paths {
    opacity: 30%;
    width: 65px;
    height: 15px;    
    position: absolute;
    top: 770px;
    left: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    height: 10px;
    width: 9px;
    background-color: #fff;
    border-radius: 50%;
}

.circle:hover{
    height: 10px;
    width: 9px;    
    border: solid 1px #fff;
    background-color: black;
    
}

.black {
    background-color: black;
    border: solid 1px #fff;
    height: 10px;
    width: 9px;
    
}

.circle:hover ~ .black {
    background-color: white;
}


/*SIDEBAR*/

/*MAP*/
.map-block {
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
    background: url("../images/where\ i\ am.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 900px;
    width: 100%;
    
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: space-around;
}

.map {
    background: url("../images/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 800px;
    width: 98%;
}

.empty-map-block {
    height: 100px;
}

/*.map-image {
    width: 90%;  
    height: 765px;
}*/


/*ABOUT ME*/
.about-me {    
    margin: 45px 0px 0px 0px;
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
    background: url("../images/aboutme.png");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 895px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}



.empty-aboutme-block {
    height: 70px;
    width: 100%;
}

.empty-aboutme-block-2 {
    height: 540px;
    width: 100%;
}

.aboutme-text {
    height: 240px;
    width: 100%;
    font-size: 24px;
    font-family: 'Myriad Pro Regular';
    text-align: center;
    vertical-align: middle;
}

.aboutme-followme {
    font-family: 'NEOTERIC.ttf';
    font-size: 36px;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 0em;
}

.aboutme-connected {
    height: 70px;
    width: 100%;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.connected-aboutme {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: inherit;
    align-content: center;
    align-items: center;    
}

.social-aboutme {
    text-decoration: none;
    font-size: 49px;
    margin-left: 5px;
    margin-right: 5px;
}

.facebook-a:hover {    
    background: skyblue;
    text-decoration: none;
}

.social-aboutme a {
    color: #575c5c;    
} 


.aboutme-photo {
    height: 490px;
    background: url(../images/aboutme-photo.png);
    background-repeat: no-repeat;
}

/*NewsLetter*/
.newsletter {
    height: 300px;
    width: 100%;
    margin: 45px 0px 0px 0px; 
    background: url("../images/Newsletter-background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.input-email {
    width: 100%;
    height: 30px;
    font-family: 'Merriweather-LightItalic';
    font-size: 20px;
    border: none;
    margin: 100px 0px 0px 0px;
}

.line-newsletter {
    width: 100%;
    height: 1px;
    border: 1px solid gray;
    background-color: black;    
    margin: 10px 0px 25px 0px;
}

.signup-button {
    width: 90%;
    height: 60px;
    font-family: 'Dosis-SemiBold';
    font-size: 20px;
    text-transform: uppercase;
    background-color: #a9b3e3;
}

.signup-button a {
    color: #ffffff;
}

.signup-button a:hover {
    color: pink;
    text-decoration: none;
}

/*CATEGORIES*/
.categories {
    height: 330px;
    width: 100%;
    margin: 45px 0px 0px 0px;
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33); 
    background: url("../images/categories.png");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
}

.categories a {
    width: 100%;
    height: 55px;
    text-align: center;
    font-family: 'Myriad Pro Regular';
    font-size: 18px;
    color: #000;
}

.categories a:hover {
    color: pink;
    text-decoration: none;
}


/*RECENT POST*/
.recent-post {
    height: 790px;
    width: 100%;
    margin: 45px 0px 0px 0px; 
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
    background: url("../images/recent\ post.png");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.recent-post-row {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recent-post-img {
    height: 105px;
    width: 32%;
    background: url("../images/recent-post-IMG.png");
    background-repeat: no-repeat;
    background-position: top;
}

.recent-post-text {
    height: 105px;
    width: 56%;      
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.recent-post-text-description {
    text-align: left;
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    color: #000;
    width: 300px;
}

.recent-post-text-data {
    text-align: left;
    font-family: 'Myriad Pro Regular';
    font-size: 20px;
    color: #a8aeae;
    width: 300px;
}

/*TAGS*/
.tags {
    height: 350px;
    width: 100%;
    margin: 45px 0px 0px 0px; 
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
    background: url("../images/tags.png");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.tags-row {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.tags-point {
    height: 50px;
    width: 210px;
    border: solid #ffc908 3px;
}

.tags-point a {
    color: #000;
    text-align: left;
    font-family: 'Myriad Pro Regular';
    font-size: 33px;
    text-transform: uppercase;
    text-decoration: none;
}

.tags-point a:hover {
    color: pink;
    text-decoration: none;
}

/*CONTACT ME*/
.contact-me {
    height: 500px;
    width: 100%;
    margin: 45px 0px 70px 0px;
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33); 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.contact-me-header {
    width: 100%;
    height: 40px;
    color: #000;
    text-align: center;
    font-family: 'OpenSans-Bold';
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

#form-contact-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    width: 95%;
}

#name {
    width: 100%;
    height: 50px;
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    color: #b3b3b3;
}

#email {
    width: 100%;
    height: 50px;
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    color: #b3b3b3;
}

#message {
    width: 100%;
    height: 190px;
    font-family: 'OpenSans-Regular';
    font-size: 13px;
    color: #b3b3b3;
}

#send {
    width: 120px;
    height: 60px;
    color: #000;
    background-color: #ffc908;
    text-align: center;
    font-family: 'OpenSans-Regular';
    font-size: 43px;
    color: #000;    
    border-radius: 5%;
}

#send:hover {
    color: blueviolet;
    border: 2px solid green;
    text-decoration: none;
}

/*CONTENT*/
.site-content{
    margin: 45px 0px 0px 0px;
}

.content1 {
    height: 450px;
}

.content2 {
    height: 450px;
    margin-top: 70px;
}

.blog-wide1 {
    height: 450px;
    margin-top: 70px;
}

.blog-grid {
    height: 1020px;
    margin-top: 70px;
}

.blog-wide2 {
    height: 450px;
    margin-top: 70px;
}

.next-page {
    height: 100px;
    margin-top: 70px;
}


/*FOOTER*/

.photo1 {
    height: 470px;
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
}

.photo2 {
    height: 470px;
    margin-top: 30px;
    box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
}

.photo {
}

.photo-1-1 {
    background: url("../images/photo1-1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.photo-1-2 {
    background: url("../images/photo1-2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.photo-1-3 {
    background: url("../images/photo1-3.png");
    background-repeat: no-repeat;
    background-position: center;
}

.photo-1-4 {
    background: url("../images/photo1-4.png");
    background-repeat: no-repeat;
    background-position: center;
}

.photo-2-1 {
    background: url("../images/photo2-1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.photo-2-2 {
    background: url("../images/photo2-2.png"), url("../images/photo2-2.1.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.502, 0.902;
}

.photo-2-3 {
    background: url("../images/photo2-3.png");
    background-repeat: no-repeat;
    background-position: center;
}

.photo-2-4 {
    background: url("../images/photo2-4.png");
    background-repeat: no-repeat;
    background-position: center;
}

.row-footer-social {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.social-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.social-footer {
    height: 115px;    
    display: flex;
    align-content: space-around;
    align-items: baseline;
    justify-content: center;
}

.connected-footer {
    padding: 0px;
    margin: 0px;
}

.connected-footer a {
    font-family: 'FontAwesome';
    color: #000;    
    text-decoration: none;
    margin-right: 15px;
}

.connected-footer a:hover {
    color: pink;
    text-decoration: none;
}

/*MENU FOOTER*/

.footer {
    padding-left: 0px;
    padding-right: 0px;
}

.menu-footer {
    width: 100%;
    background-color: #737373;
}


.logoline-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.logo-footer {
    width: 100%;
    height: 185px;
    background: url("../images/Mountains.png");
    background-position: center;
    background-repeat: no-repeat;
}

/*NAVIGATION*/

/*.navigation {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}*/